---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import NewsCard from '../../../components/NewsCard.astro';
import { getCollection } from 'astro:content';
import { useTranslations, getLangFromUrl } from '../../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = (await getCollection('news', ({ data }) => data.lang === 'ca'))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout title={t('nav.news')} description="Les últimes notícies i novetats dels Escrivans de l'Hipogeu.">
  <h2 class="page-title">{t('nav.news')}</h2>
  <p>{t('news.subtitle')}</p>
  <div class="news-list">
    {posts.map((post) => (
      <NewsCard
        title={post.data.title}
        slug={post.data.urlSlug}
        image={post.data.image}
        lang="ca"
      />
    ))}
  </div>
</BaseLayout>
